@page "/fetchdata"
@using Components.Advanced.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid Items="forecasts" Context="forecast">
        <Header>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
        </Header>
        <Row>
            <td>@forecast.Date.ToShortDateString()</td>
            <td>@forecast.TemperatureC</td>
            <ErrorBoundary>
                <ChildContent>
                    <td>@forecast.TemperatureF</td>
                </ChildContent>
                <ErrorContent>
                    <td style="color: red;">error!!</td>
                </ErrorContent>
            </ErrorBoundary>
            <td>@forecast.Summary</td>
        </Row>
        <Footer>
            <td colspan="4">Footer</td>
        </Footer>
    </Grid>

    <ListView Title="Forecasts summaries" Items="@forecasts" Context="forecast">
        <ItemTemplate >
            @forecastTemplate(forecast)
        </ItemTemplate>
    </ListView>

    <ListViewWigPig Title="Forecasts sumaries with Wig-pig" 
        Items="@forecasts" Context="forecast">
        <ListTemplate Context="innerTemplate">
            <ol>
                @innerTemplate
            </ol>
        </ListTemplate>
        <ItemTemplate>
            <li><span>@forecast.Summary</span></li>
        </ItemTemplate>
    </ListViewWigPig>
}



@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    private RenderFragment<WeatherForecast> forecastTemplate = 
        (forecast) => @<span>@forecast.Summary</span>;
}
